.title{
  font-size: 2.5em !important;
  text-align: center;
}

.imagenote {
  font-size: 80%;
  color: #8d8d8d;
  text-align: left;
}

.warningbox {
  padding: 8px 8px 1px 10px;
  background: #ffe8e8;
  color: black;
  border-left: 10px solid #b84242;
  border-radius: 5px;
  margin-bottom: 10px;
}

.tipbox {
  padding: 8px 8px 1px 10px;
  background: #e5f6fa;
  color: #175788;
  border-left: 10px solid #2f68a3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.graybox {
  padding: 8px 8px 1px 10px;
  background: #f4f4f4;
  color: #55555;
  border-left: 10px solid #b1aeae;
  border-radius: 5px;
  margin-bottom: 10px;
}

.authorbox {
  padding: 8px 8px 1px 10px;
  background: #f4f4f4;
  color: #55555;
  border-top: 5px solid #b1aeae;
  border-radius: 5px;
  margin-bottom: 10px;
}
